@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-white: #ededed;
  --background-color: #131313;
  --stroke-border: #292929;
  --hover-state: #414141;
  --normal-text: #b3b3b3;
  --highlight-dark: #292929;
  --white-smoke: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--normal-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
